img,
.square {
  width: 120px;
  height: 120px;
  border: solid 3px white;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}